<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
	<div class="row">
      <div class="col-lg-12 text-center">
        <p>All Dronota pilots are FAA Part 107 Certified. Typical equipment used for real estate would be DJI Phantom 4 Pro V2. FPV drones are available for action shots or other situations. Thank you for your interest! Please don't hesitate to get in touch using the contact information below.</p>
        <p>Please leave a name and cell number :)</p>
      </div>
    </div>
    </div>
  </div>
</section>
